<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- сканируем все компоненты автоматом -->
	<context:component-scan base-package="cane.brothers.spring.web" />
	
	<!-- используем внутренний view resolver для jsp представлений -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- Обрабатывает запросы на получение статических ресурсов -->
	<!-- все стили, картинки и скрипты должны храниться в папке resources -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- работать будем с аннотациями -->
	<mvc:annotation-driven/>
	
	
</beans>
						